# -----------------------------
# Python virtual environments
# -----------------------------
venv/
.venv/
env/

# -----------------------------
# Environment variables / Secrets
# -----------------------------
.env
*.env
.streamlit/secrets.toml

# -----------------------------
# Python cache
# -----------------------------
__pycache__/
*.py[cod]
*.pyo

# -----------------------------
# Jupyter
# -----------------------------
.ipynb_checkpoints/

# -----------------------------
# Logs
# -----------------------------
*.log

# -----------------------------
# OS files
# -----------------------------
.DS_Store

# -----------------------------
# Python caches
# -----------------------------
.pytest_cache/
.mypy_cache/
.ruff_cache/